RentCar/Renting/Service References/ServiceReference1/RentCar.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RentCar.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RentCar.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCar">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Car" nillable="true" type="tns:Car" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCar" nillable="true" type="tns:ArrayOfCar" />
  <xs:complexType name="Car">
    <xs:sequence>
      <xs:element minOccurs="0" name="Brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Registration" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Year" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Car" nillable="true" type="tns:Car" />
  <xs:complexType name="ArrayOfCarRent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CarRent" nillable="true" type="tns:CarRent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCarRent" nillable="true" type="tns:ArrayOfCarRent" />
  <xs:complexType name="CarRent">
    <xs:sequence>
      <xs:element minOccurs="0" name="Car" nillable="true" type="tns:Car" />
      <xs:element minOccurs="0" name="Hours" type="xs:decimal" />
      <xs:element minOccurs="0" name="PricePerHour" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CarRent" nillable="true" type="tns:CarRent" />
</xs:schema>